@font-face {
  font-family: "Walkman Chanakya";
  src: url("../fonts/WalkmanChanakya902Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0900-097F, U+1CD0-1CFF, U+A8E0-A8FF;
}

html,
body,
body :not(.fa):not(.fas):not(.far):not(.fab):not(.fa-solid):not(.fa-regular):not(.fa-brands) {
  font-family: "Walkman Chanakya", "Tiro Devanagari Hindi", Livvic, sans-serif !important;
}
